@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

.text-gold {
   color: goldenrod !important;
}

.bg-gold {
   background-color: goldenrod !important;
}

.font-arabic, .font-urdu{
   font-family: 'Noto Naskh Arabic', serif !important;
}

.dropdown-item.active,
.dropdown-item:hover,
.dropdown-item:active {
   color: #000;
   text-decoration: none;
   background-color: var(--bs-warning);
}





#myNavbar {
   background-color: goldenrod;
}

#myNavbar .navbar-brand img{
   width: 130px;
}

#myNavbar .nav-link{
   font-weight: 500;
}
#myNavbar .nav-link.active{
   font-weight: 700;
}

/* home page */
#home_section1 .heading-main {
   font-weight: bolder;
   font-style: italic;
   color: goldenrod;
}

#home_section1 .ayat {
   font-family: 'Noto Naskh Arabic', serif;
   font-size: 50px;
   margin-bottom: 0;
}

#home_section1 .ayat-urdu {
   font-size: 30px;
   font-family: 'Noto Naskh Arabic', serif;
}

#home_section1 .ayat-ref {
   font-size: 21px;
   font-weight: 700;
}

#pillers_section {
   background-image: url(../img/pillers-of-islam.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   height: 600px;
   position: relative;
   z-index: 1;
}

#pillers_section::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: -1;
}
#pillers_section .piller-card{
   text-align: center;
}
#pillers_section .piller-card .card-circle {
   background-color: goldenrod;
   height: 100px;
   width: 100px;
   border-radius: 50%;
   margin: 0 auto;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}
#pillers_section .piller-card .card-circle img{
   width: 70%;
   height: 70%;
}

#pillers_section .piller-card .p-number {
   font-size: 50px;
   font-weight: bold;
   color: #fff;
}
#pillers_section .piller-card .p-name {
   font-size: 21px;
   font-weight: bold;
   color: #fff;
}




/* 
   footer
*/

#footer {
   background-color: goldenrod;
   padding-top: 3rem;
   padding-bottom: 1rem;
   margin-top: 150px;
   position: relative;
}

#footer .footer-img {
   position: absolute;
   max-width: 500px;
   height: auto;
   left: 50%;
   bottom: 100%;
   transform: translateX(-50%);
}

#footer .footer-links a {
   display: inline-block;
   padding: 6px 16px;
   text-decoration-color: transparent;
   text-decoration-thickness: 2px;
   color: #222;
   font-weight: 500;
   font-size: 17px;
}

#footer .footer-links a:hover {
   text-decoration-color: black;
}

#footer .footer-icons a {
   text-decoration: none;
   color: #000;
   font-size: 21px;
   display: inline-flex;
   height: 40px;
   width: 40px;
   /* border: 2px solid black; */
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: all 0.4s;
}

#footer .footer-icons a:hover {
   background-color: #000;
   color: goldenrod;
}








/* 
   about page
*/
.about-card {
   padding: 1rem;
   border-radius: 10px;
   transition: all .4s;
}

.about-card .heading-main {
   transition: all .4s;
}

.about-card:hover {
   background-color: goldenrod;
}

.about-card:hover .heading-main {
   color: #333 !important;
   text-align: center;
}






/* 
   contact page
*/

#contactForm {
   width: 100%;
   max-width: 700px;
   height: 820px;
}

.contact-icons a {
   text-decoration: none;
   color: #000;
   font-size: 21px;
   display: inline-flex;
   height: 40px;
   width: 40px;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: all 0.4s;
}

.contact-icons a:hover {
   background-color: goldenrod;
   color: #fff;
}




/* 
   Tasbeeh
*/

.tasbeeh-trigger {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   cursor: pointer;
   margin: 0 auto;
   text-align: center;
   line-height: 200px;
   font-size: 60px;
   color: #fff;
   background-color: var(--bs-warning);
   box-shadow: 0px 0px 12px #555;
   margin-top: 1.5rem;
}





/* 
   books page
*/

#books_section .my-card {
   text-decoration: none;
   display: block;
   position: relative;
}

#books_section .my-card-title {
   position: absolute;
   bottom: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   margin: 0;
   padding: 8px 16px;
   color: #fff;
}

#books_section .hadees-book-img {
   width: 50%;
   display: block;
   margin: 0 auto;
}







/* 
   namaz fraiz
*/


.namaz_fraiz ol li{
   font-size: 21px;
   font-weight: 500;
   padding: 0.5rem 0;
   font-family: 'Noto Naskh Arabic', serif;
}





/* 
   others page
*/

#ayat .in-arabic,
#hadees .in-arabic{
   font-family: 'Noto Naskh Arabic', serif;
   text-align: right;
   font-size: 50px;
}
#ayat .in-urdu,
#hadees .in-urdu{
   font-family: 'Noto Naskh Arabic', serif;
   text-align: right;
   font-size: 25px;
   font-weight: normal;
   margin-bottom: 1rem;
}
#ayat .reference,
#hadees .reference{
   font-weight: bold;
   font-size: 19px;
   direction: rtl;
}